############################
# Build output
############################
dist/
.astro/
.wrangler/

############################
# Dependencies
############################
node_modules/

############################
# Logs
############################
*.log
test-results/
playwright-report/

############################
# Environment variables 🔐
############################
.env
.env.*

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Editor
############################
.vscode/
.idea/

############################
# Misc
############################
*.local
