############################
# Build output
############################
dist/
.astro/
.wrangler/

############################
# Dependencies
############################
node_modules/

############################
# Logs
############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

############################
# Environment variables 🔐
############################
.env
.env.*

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Editor
############################
.vscode/
.idea/

############################
# Misc
############################
*.local
